.DropDownContainer{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.DropBtn{
    position: relative;
    background-color: #FF6060;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 12px;
}
.DropBtnText{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
display: flex;
align-items: center;
color: #FFFFFF;
}
.DropDownContainerTexte{
    background-color: #F6F6F6;
    height: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 142.6%;
    color: #FF6060;
    word-wrap: break-word;
    padding-top: 10px;
    padding-bottom: 20px; 
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0%;
}
@media (max-width:1360px) {
    .DropDownContainer{
        width: 1100px;
    }
}
@media (max-width:1142px) {
    .DropDownContainer{
        width: 900px;
    }
}
@media (max-width:916px) {
    .DropDownContainer{
        width: 500px;
    }
}
@media (max-width:700px) {
    .DropDownContainer{
        width: 530px;
    }
    .DropDownContainerTexte{
        font-weight: 400;
        font-size: 16px;
        line-height: 142.6%;
        color: #FF6060;
        word-wrap: break-word;
        padding-left: 10px;
        padding-right: 10Px;
    }
}
@media (max-width:650px) {
    .DropDownContainer{
        width: 490px;
    }
    .DropDownContainerTexte{
        font-weight: 400;
        font-size: 16px;
        line-height: 142.6%;
        color: #FF6060;
        word-wrap: break-word;
        padding-left: 10px;
        padding-right: 10Px;
    }
}
@media (max-width:600px) {
    .DropDownContainer{
        width: 460px;
    }
    .DropDownContainerTexte{
        font-weight: 400;
        font-size: 16px;
        line-height: 142.6%;
        color: #FF6060;
        word-wrap: break-word;
        padding-left: 10px;
        padding-right: 10Px;
    }
}
@media (max-width:564px) {
    .DropDownContainer{
        width: 270px;
    }
    .DropDownContainerTexte{
        font-weight: 400;
        font-size: 16px;
        line-height: 142.6%;
        color: #FF6060;
        word-wrap: break-word;
        padding-left: 10px;
        padding-right: 0Px;
    }
}

@media (max-width:284px) {
    .DropDownContainer{
        width: 150px;
    }
    .DropDownContainerTexte{
        font-weight: 400;
        font-size: 16px;
        line-height: 142.6%;
        color: #FF6060;
        word-wrap: break-word;
        padding-left: 10px;
        padding-right: 0Px;
    }
}