$container-background: url("../../assets/Barriere.png");
$container-gradient: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
$container-border-radius: 25px;
$container-padding-top-bottom: 0.5%;
$container-margin: 2%;

.BanniereContainer {
    border-radius: $container-border-radius;
    background-position: center;
    background-size: cover;
    background-image: #{$container-gradient}, #{$container-background};
    text-align: center;
    padding-top: $container-padding-top-bottom;
    padding-bottom: $container-padding-top-bottom;
    margin-top: $container-margin;
    margin-left: 10%;
    margin-right: 10%;

    > p {
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 48px;
        line-height: 142.6%;
        color: #FFFFFF;

        > br {
            display: none;
        }
    }

    @media (max-width: 865px) {
        border-radius: 20px;
        margin-left: 7%;
        margin-right: 7%;

        > p {
            font-size: 24px;

            > br {
                display: none;
            }
        }
    }
}
