.title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    color: #FF6060;

}
.location{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
}
.tags{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 142.6%;
text-align: center;
color: #FFFFFF;
border: #FF6060 10px solid;
padding-left: 20px;
padding-right: 20px;
border-radius: 15px;
background: #FF6060;

}
.tagsContainer{
    display: flex;
    gap: 20px;

}
.InfoLogementContainer{
    margin-left: 10%;
}
.host{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
color: #FF6060;
padding-right: 10px;
margin-top: 20px;
}
.hostImg{
    border-radius: 100px;
    height: 64px;
    width: auto;
}
.InfoLogement2Container{
    margin-right: 10%;
}
.InfoLogement2{
    display: flex;
}
.InfoLogementHost{
    display: flex;
    justify-content: space-between;
}
.Rating{
    margin-top: 20px;
    transform: scale(1.2);
    
}