.NavBarContainer{
    display: flex;
    justify-content: space-between;
}

.navLogo{
 width: 150px;
 height: 50px;
 padding-top: 35px;
 padding-left: 3%;
}

ul{
    width: 400px;
    list-style: none;
    display: flex;
}
li{
    white-space: nowrap;
    color: #FF6060;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
padding-right: 25%;padding-top: 35px;
}

.Accueil{
    cursor: pointer;
}
.A_Propos{
    cursor: pointer;
}