.NavBarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLogo{
 width: 150px;
 height: 50px;
 margin-top: 35px;
 margin-left: 3%;
 cursor: pointer;
}

ul{
    width: 400px;
    list-style: none;
    display: flex;

}
li{
    white-space: nowrap;
    color: #FF6060;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
margin-left: 10%;
margin-top: 40px;
}

.Accueil{
    cursor: pointer;
    color: #FF6060;
    text-decoration-line: none;
}
.A_Propos{
    cursor: pointer;
    color: #FF6060;
    text-decoration-line: none;
}
